<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Slack.Events.Publish, Slack" method="OnPublishEnd" />
      </event>
      <event name="publish:fail">
        <handler type="Slack.Events.Publish, Slack" method="OnPublishFail" />
      </event>
      <event name="publish:begin">
        <handler type="Slack.Events.Publish, Slack" method="OnPublishBegin" />
      </event>
      <event name="security:loggedIn">
        <handler type="Slack.Events.Security, Slack" method="OnLoggedIn" />
      </event>
      <event name="security:loggedOut">
        <handler type="Slack.Events.Security, Slack" method="OnLoggedOut" />
      </event>
      <event name="user:created">
        <handler type="Slack.Events.Membership, Slack" method="OnUserCreated" />
      </event>
      <event name="user:deleted">
        <handler type="Slack.Events.Membership, Slack" method="OnUserDeleted" />
      </event>
      <event name="role:created">
        <handler type="Slack.Events.Membership, Slack" method="OnRoleCreated" />
      </event>
      <event name="role:deleted">
        <handler type="Slack.Events.Membership, Slack" method="OnRoleDeleted" />
      </event>
      <event name="packageinstall:starting">
        <handler type="Slack.Events.Package, Slack" method="OnPackageInstallStarted" />
      </event>
      <event name="packageinstall:files:ended">
        <handler type="Slack.Events.Package, Slack" method="OnPackageInstallEnded" />
      </event>
      <event name="index:start:rebuild">
        <handler type="Slack.Events.Indexing, Slack" method="OnIndexingStart" />
      </event>
      <event name="index:end:rebuild">
        <handler type="Slack.Events.Indexing, Slack" method="OnIndexingEnd" />
      </event>
      <event name="social:connector:user:created">
        <handler type="Slack.Events.Social, Slack" method="OnUserCreated" />
      </event>
      <event name="social:connector:user:loggedin">
        <handler type="Slack.Events.Social, Slack" method="OnUserLoggedIn" />
      </event>
      <event name="social:connector:user:socialprofileattached">
        <handler type="Slack.Events.Social, Slack" method="OnUserProfileAttached" />
      </event>
      <event name="item:created">
        <handler type="Slack.Events.Item, Slack" method="OnItemCreated" />
      </event>
      <event name="item:deleted">
        <handler type="Slack.Events.Item, Slack" method="OnItemDeleted" />
      </event>
      <event name="item:moved">
        <handler type="Slack.Events.Item, Slack" method="OnItemMoved" />
      </event>
    </events>
  </sitecore>
</configuration>