<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <events>
      <event name="publish:end">
        <handler type="Slack.Events.Publish, Slack" method="OnPublishEnd" />
      </event>
      <event name="publish:begin">
        <handler type="Slack.Events.Publish, Slack" method="OnPublishBegin" />
      </event>
      <event name="security:loggedIn">
        <handler type="Slack.Events.Security, Slack" method="OnLoggedIn" />
      </event>
      <event name="security:loggedOut">
        <handler type="Slack.Events.Security, Slack" method="OnLoggedOut" />
      </event>
    </events>
  </sitecore>
</configuration>