<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Slack.Pipelines.Initialize, Slack" />
      </initialize>
      <shutdown>
        <processor type="Slack.Pipelines.Shutdown, Slack" />
      </shutdown>
    </pipelines>
  </sitecore>
</configuration>