<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <loggedin>
        <processor type="Slack.Processors.LoggedIn, Slack"/>
      </loggedin>
      <logout>
        <processor mode="on" type="Slack.Processors.LogOut, Slack"/>
      </logout>
    </processors>
  </sitecore>
</configuration>